langchain
langgraph
langchain_community
langchain_openai
langchain_core 
ollama
pandas
duckdb
faiss-cpu
sentence-transformers
biopython
pypdf
pydantic
lxml
html2text
beautifulsoup4
matplotlib
python-dotenv
streamlit
requests
typing_extensions